@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    background-color:#ffffff;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-container {
    flex-grow: 1;   
}

.page-header-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    margin-top: 40px;
    background-color: #ffe17f;
    color: #000000;
}

.page-header {
    position: relative;
}

.page-header-catalog {
    color: #000000;
    position: relative;
    top: 25px;
}

.header-logo {
    display: block;
    position: absolute;
    margin-left: 60px;
    top: -25px;
    left: 2px;
}

.header-logo :hover {
    opacity: 0.6;
}

.header-logo :active {
    opacity: 0.3;
}

.header-logo :focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px; 
}

.user-navigation {
    display: flex;
    width: 1160px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 60px;
    margin-left: 60px;
}

.navigation-catalog-item {
    margin-right: 7px;
}

.navigation-catalog-item:hover {
    opacity: 0.6;
}

.navigation-catalog-item:active {
    opacity: 0.3;
}

.navigation-catalog-item:focus {
    box-shadow: inset 0 0 0 2px #AF4FFF;
    outline: none; 
}

.navigation-catalog-list {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
    position: relative;   
}

.navigation-services-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-search-header {
    display: flex;
    width: 517px; 
    margin-right: 26px;  
}

.search {
    display: block;
    margin: 0;
    width: 358px;
    padding: 8px 46px;
    color: #000000;
    background-color: #FFE17F;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
    border: 2px solid #000000;
    border-right-width: 1px;
    border-radius: 50px 0px 0px 50px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.search:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.form-search-button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    padding: 8px;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    border: 2px solid #000000;
    border-left-width: 1px;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
    margin: 0;
}

.form-search-button:hover {
    background-color: #000000;
    color: #ffffff;
    
}

.form-search-button:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
}


.form-search-button:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.form-search:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.navigation-item-login {
    width: 146px;
    margin-right: 26px; 
    align-items: center;
      
}

.icon-login {
    margin-right: 12px;
}

.icon-comparison {
    margin-right: 12px;
}

.icon-shopping-cart {
    margin-right: 12px;
}

.button-catalog {
    margin: 0;
}

.comparison-shopping-cart {
    display: flex;
    width: 240px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navigation-list-user-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
   /* margin-left: 26px;*/
}

.navigation-item-shopping-cart {
    position: relative;
}

.navigation-link-exit {
    opacity: 0.3;
    padding: 9px 0;
}

.navigation-item-exit {
    margin-left: 28px;
    margin-right: 26.5px;
}

.navigation-link-comparison {
    margin-right: 18px;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
}

.navigation {
    display: flex;
    width: 1160px; 
    justify-content: space-between; 
    margin-right: 60px;
    margin-left: 60px; 
}

.navigation-item-services {
    margin-left: 45px;
}

.navigation-item-services:first-child {
    margin-left: 0;
}

.navigation-item-services :hover {
    opacity: 0.6;
}

.navigation-item-services:active {
    opacity: 0.3;
}

.navigation-item-services:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    
}

.button-more {
    width: 220px;
    height: 40px;
    padding: 10px 5px;
}

.button-more:hover {
    background-color: #FFE17F;
}

.button-more:active {
    background-color:#FFCC33; 
}

.button-more:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}


.navigation-item-menu-navigation {
    list-style-type: none;
    width: 160px;
    position: relative;
}

.link-virt-real::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    background-image: url(../images/menu/menu-1.svg);
}

.link-selfi::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-position: center bottom;
    top: 0;
    left: 0;
    background-image: url(../images/menu/menu-2.svg);
}

.link-camera::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    background-image: url(../images/menu/menu-3.svg);
}

.link-fitness::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    background-image: url(../images/menu/menu-4.svg);
}

.link-watch::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    background-image: url(../images/menu/menu-5.svg);
}

.link-copter::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    background-image: url(../images/menu/menu-6.svg);
}

.link-virt-real:hover::before, 
.link-selfi:hover::before,
.link-camera:hover::before,
.link-fitness:hover::before,
.link-watch:hover::before,
.link-copter:hover::before {
    background-color: #FFC700;
}

.menu-navigation-list {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 172px auto;
    padding: 0;
    width: 1160px;
}

.navigation-link-user {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
}

.navigation-link-login {
    max-width: 231px;
    background: url("../images/icons/login.svg") no-repeat 0 40%;
    padding: 9px 0 9px 28px;
}

.navigation-link-login-index {
    margin-right: 176px;

}

.navigation-link-comparison {
    max-width: 136px;
    padding: 9px 0 9px 21px;
    margin-right: 18px;
    background: url("../images/icons/comparison.svg") no-repeat 0 40%;
}

.navigation-link-shopping-cart {
    max-width: 131px;
    padding: 9px 0 9px 42px;
    background: url("../images/icons/shopping-cart.svg") no-repeat 0 40%;
}

.navigation-item:hover {
    opacity: 0.6;
}

.navigation-item:active {
    opacity: 0.3;
}

.navigation-item:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.navigation-navigation-link {
    font-family: "Raleway", "Arial", sans-serif;
    color: #000000;
    line-height: 21px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;  
    margin: 0; 
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-catalog {
    display: block;
    position: relative;
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 13.5px;
}

.title {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: #000000; 
}

.description {
    color: #444444;
}

.button {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 0.2em;
}

.indicator {
    font-family: 'Rubik', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    padding-bottom: 12px;
}

.function {
    font-size: 16px;
    line-height: 30px;
    color: #444444;  
}

.navigation-link {
    display: block;
    color: #000000;
    text-decoration: none;
    align-items: center;
}

.navigation-link-menu {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    margin-top: 193px;
    letter-spacing: -0.02em
}

.navigation-item-menu-navigation:active {
    opacity: 0.3;  
}

.navigation-item-menu-navigation:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.background-menu-navigation {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    margin-bottom: 32px;
}

.background-menu-navigation:hover {
    background-color: #FFC700;
}



.navigation-image {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}
          
.services,
.info-delivery{
    background-color: #F0F0F0;   
}

.services {
    height: 289px;
}

.info-delivery:active {
    opacity: 0.3;
}

.info-delivery:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.services-container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
    position: relative;
    top: -104px;
}

.service-delivery-buttons {
    position: relative;
}

.service-delivery-buttons::after {
    content:'';
    position: absolute;
    left: 280px;
    bottom: 0;
    top: 0;
    width: 0;
    border-right: 7px solid #000000;
}

.service-delivery {
    display: flex;
    margin: 0 auto;   
}

.title-service-delivery{
margin: 0;
}

.service-guarantee {
    display: flex;
    margin: 0 auto;
}

.service-credit {
    display: flex;
    margin: 0 auto;
}

.button-delivery,
.button-guarantee,
.button-credit {
    width: 280px;
    text-align: start;
}

.title-description-delivery,
.title-description-guarantee,
.title-description-credit {
    width: 452px;
    margin-left: 116px;
    margin-right: 106px;
    margin-top: 64px;
    margin-bottom: 65px;
}

.service-image-delivery,
.service-image-guarantee,
.service-image-credit {
    width: 136px;
    margin-top: 77.5px;
    margin-right: 63px;
    margin-bottom: 77.5px;
}

.service-description {
    width: 452px;
    margin-top: 34px;
    margin-bottom: 0;
}

.info-delivery {
    display: flex;
    margin: 70px auto;
    width: 1160px; 
    height: 100px;   
}

.button-info-delivery {
    background-color: #FFE17F;
    background-image: url(../images/icons/delivery.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 125px;
    height: 100px; 
}

.info-faq {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    background-color: #dcdcdc;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 30px 42.5px;
}

.info-faq-i {
    fill: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.title-delivery {
    font-family: "Raleway" "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    width: 910px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
}

.transport-navigation-list {
    font-family: "Rubik" "Arial", sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-left: 3.5px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 26px;
}

.contacts-subtitle {
    font-family: "Rubik" "Arial", sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

.index-columns {
    background-color: #ffffff;
    display: flex;
    margin: 0 auto 70px auto;
    width: 1160px;
    justify-content: space-between;
}

.about-us {
    width: 520px;
    margin-right: 108px;
    position: relative;
}

.contacts {
    width: 532px;
    position: relative;
}

.title-about-us,
.title-contacts {
    margin-top: 47px;
    margin-bottom: 48px;
}

.description-about-us,
.description-contacts {
    margin-bottom: 30px;
}

.button-about-us {
    position: relative;
    width: 270px;
    height: 40px;
    margin-bottom: 52px;
    padding: 10px 6.4px;
}

.button-services {
    position: relative;
    min-width: 220px;
    z-index: 1;
}

.current{
    background-color: #000000;
    color: #FFE17F;
}

.button-services::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 8px;
    background-color: #ffe17f;
}

.button-services-container {
    position: relative;
    z-index: 1;
    width: 160px;
    margin-bottom: 35px;
    padding: 10px;
    text-align: center;
}

.button-services-container:last-child {
    margin-bottom: 65px;
}

.button-services-container:first-child {
    margin-top: 64px;
}

.button-guarantee::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 80px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 160px;
    height: 8px;
    background-color: #ffe17f;
}

.button-credit::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 80px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 160px;
    height: 8px;
    background-color: #ffe17f;
}

.contacts-subtitle {
    margin: 0;
}

.contacts-address-text {
    margin-top: 15px;
}

.contacts-phone {
    display: block;
    margin-bottom: 30px;
}

.contacts-address {
    font-style: normal;
}

.contacts-schedule {
    margin-top: 15px;
    margin-bottom: 30px;
    list-style-type: none;
    padding: 0;
}

.button-write-to-us {
    position: relative;
    width: 259px;
    height: 40px;
    padding: 10px 5.89px;
}

.mailing-list {
    background-color: #F0F0F0;
    color: #000000;   
}

.mailing-list-container {
    display: flex;
    margin: 0 auto;
    width: 1160px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-mailing-list{
    width: 348px;
    margin-right: 252px;
    margin-top: 64px;
    margin-bottom: 144px;
}

.description-mailing-list {
    width: 560px;
    margin-top: 74px;
    margin-bottom: 144px;
}

.mailing-list-email {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    justify-content: space-between;    
}

.form-email {
    display: flex;
}

.email {
    display: block;
    width: 557px;
    padding: 18px 16px;
    background-color: #F0F0F0;
    border: 3px solid #c4c4c4;
    border-top-width: 0;
    border-left-width: 0;
    margin: 0;
}

.email:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.button-form-email {
    width: 253px;
    text-align: center;
    color: #000000;
    background-color: #F0F0F0;
    border: 3px solid #c4c4c4;
    border-left-width: 0;
    margin: 0;
}

.button-form-email:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.subscription {
    width: 810px;
    margin-bottom: 56px;
}


.description-its-free {
    margin: 0;
    padding-left: 16px;
    margin-bottom: 56px;
    padding: 7px 0 7px 32px;
    background-image: url(../images/icons/check-mark.svg);
    background-repeat: no-repeat;
    background-position: left 13.5px;
}

.page-footer-container {
    display: flex;
    margin: 0 auto;
    width: 1160px;   
}

.page-footer {
    background-color: #444444;
    color: #ffffff;
}

.footer-logo {
    display: block;
    width: 144.9px;
    margin-top: 62px;
    margin-bottom: 35px;
}

.footer-logo :hover {
    opacity: 0.6;
}

.footer-logo :active {
    opacity: 0.3;
}

.footer-logo :focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.footer-address {
    width: 239px;    
}

.footer-text-address {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 64px;
}

.footer-navigation-list {
    display: flex;
    list-style-type: none;
    margin-left: 112px;
    margin-right: 190px;
    margin-top: 137px;  
    padding: 0; 
}

.footer-navigation-item {
    margin-right: 35px;
}

.footer-navigation-item:nth-child(3) {
    margin-right: 0;
}


.footer-navigation-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.2em;
}

.footer-navigation-link:hover {
    color: #FFC700;
}

.footer-navigation-link:active {
    color: #FFC700;
    opacity: 0.3;
}

.footer-navigation-link:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px; 
}

.footer-social {
    width: 150px;
    margin-left: 266px;
    margin-right: 330px; 
    margin-top: 62px;   
}

.footer-social-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;    
}

.footer-social-item {
    display: block;
    margin-right: 15px;
    margin-bottom: 62px;
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.footer-social-link:hover {
    background-color: #FFC700;
    opacity: 1;
}

.footer-social-link:active {
    background-color: #FFC700;
    opacity: 0.3;
}

.footer-social-link:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.footer-social-facebook {
    background-image: url(../images/icons/facebook.svg);
}

.footer-social-instagram {
    background-image: url(../images/icons/instagram.svg);
}

.footer-social-twitter {
    background-image: url(../images/icons/twitter.svg);
}

.footer-phone {
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline; 
    color: #ffffff;
    display: block;
    width: 175px;
    margin-top: 140px;
}

.footer-phone:hover {
    color: #FFC700;
}

.footer-phone:active {
    color: #FFC700;
    opacity: 0.3;
}

.footer-phone:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px; 
}

.footer-logo-html-link {
    display: block;
    margin-top: 63px;
}

.footer-logo-html {
    fill: #FFC700;
}

.footer-logo-html:hover{
    fill: #ffffff;
}

.footer-logo-html:active{
    fill: #ffffff;
    opacity: 0.3;
}

.inner-header{
    background-color: #ffffff;
    color: #000000;
}

.inner-header-title {
    margin: 0;
    padding: 35px 559px 16px 60px;
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs {
   display: flex;
   margin: 0px;
   padding-left: 60px;
   padding-bottom: 35px;
   list-style-type: none;  
}

.breadcrumbs-link,
.product-card-link {
   text-decoration: none;
   color: #000000;
}

.breadcrumbs-arrow {
    padding: 10px 16px;
    opacity: 0.2;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 19px;    
    margin: 0;
    padding: 0;
}

.product-card-image-wrap {
    position: relative;
    z-index: 1;
}

.product-card-image {
    display: block;
}

.product-card-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration-line: none;
    background-color: #F0F0F0;
    opacity: 0.8;
    z-index: 1;
    padding: 180px 75px;
}

.product-card-button::after {
    content: "";
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;
    height: 8px;
    background-color: #ffe17f;
    z-index: -1;
}

.product-card:hover .product-card-button {
    display: block;
}

.product-card:hover .product-card-content {
    opacity: 0.6;
}

.product-card:active .product-card-button::after {
    background-color: #FFC700;
}

.sorting-container {
    display: flex;
    padding: 25.5px 40px;   
}

.select-control {
    margin-right: 197px;
    margin-left: 197px;
    border: none;
    outline: none;
    width: 159px;
    background-color: transparent;
}

.sort-up,
.sort-down {
    padding: 10px 9.5px;
    opacity: 0.2;
}

.sort-up:hover,
.sort-down:hover {
    opacity: 0.5;
}

.sort-up:active,
.sort-down:active {
    opacity: 1;
}

.sort-button:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px; 
}

.sorting-container .button {
    width: 30px;
    height: 30px;
}

.products-filters {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 181px 25px 0;
}

.catalog {
   background-color: #ffffff;
}

.catalog-filter-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.catalog-products {
    display: flex;
    background-color: #EBEBEB;
}

.control {
    position: relative;
    display: block;
    padding-left: 42px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #cccccc;
    border-radius: 3px;
}

.mark-checked {
    border: 2px solid #000000;
    border-radius: 3px;    
}

.control-input[type="checkbox"]:checked + .control-mark::before {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    left: 5px;
    content: url(../images/icons/check-mark-catalog.svg);
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"] + .mark-checked {
    border-radius: 50%;
    border: 2px solid #000000

}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
    content: "";
}

.button-show {
    width: 220px; 
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.button-show::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 8px;
    background-color: #ffe17f;
}

.filtres {
    padding-left: 60px;
    padding-right: 60px;
}

.products-classification {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0;
}

.catalog-right-colomn {
    width: 840px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    list-style-type: none;
    margin: 0;
    padding-bottom: 44px;
    padding-left: 40px;
    padding-top: 70px;
    gap: 44px 40px;
}

.product-card-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;   
   color: #000000;
}

.product-card-price {
   font-size: 18px;
   line-height: 21px;
   color: #444444;
}

.pagination-show-more {
    width: 760px;
    height: 55px;
    border: 3px solid #e5e5e5 ;
    margin-left: 44px;
    margin-right: 44px;
}

.pagination-container {
    display: flex;
}
  
.pagination {
    display: flex;
    margin: 44px 40px 78px 40px;
    padding: 0;
    list-style-type: none;
    background-color: #EBEBEB;
    width: 760px;
    height: 71px;
    justify-content: space-around;
    align-items: center;
}

.pagination-item-number {
    width: 40px;
    height: 40px;
}

.pagination-item-number:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.pagination-item-number:not(:last-child) {
    margin-right: 15px;
}

.pagination-link {
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   text-decoration: none;
   color: #444444;
}

.pagination-link-number {
    opacity: 0.3;
    padding: 10px 15px;
}

.pagination-link-number:hover {
    opacity:1;
}

.pagination-link-number:active {
    opacity:0.1;
}

.number-pagination {
    display: flex;
    margin-left: 145.5px;
    margin-right: 145.5px;
}

.pagination-disabled,
.pagination-next {
   font-family: "Raleway" "Arial", sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 800;
   text-align: center;
   color: #000000;
   text-transform: uppercase;
}
  
.slider-container {
    width: 1160px;
    margin: 0 auto;
    z-index: 0;
    
}

.products {
    position: relative;
}

.slider-arrows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 560px;
}

.slider-pagination {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider {
    display: grid;
    grid-template-columns: 560px 560px;
    grid-template-rows: 150px auto;
    align-items: start;
    column-gap: 40px;
    position: relative;
}

.slider-left {
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
}

.slider-image {
    position: absolute;
    top: -180px;
}

.slider-right {
    position: relative;
    top: -59px;
    left: -15px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.slider-description-list {
    position: relative;
    list-style-type: none;
    padding: 0;
}

.slider-description-item-copter::before{
    content: "01";
    position: absolute;
    right: -2px;
    top: -37px;
    font-family: inherit;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #ffffff;
    margin-right: 49px;
}

.slider-description-item-fitness::before{
    content: "02";
    position: absolute;
    right: -2px;
    top: -37px;
    font-family: inherit;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #ffffff;
    margin-right: 49px;
}

.slider-description-item-selfi::before{
    content: "03";
    position: absolute;
    right: -2px;
    top: -37px;
    font-family: inherit;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #ffffff;
    margin-right: 49px;
}

.title-slider {
    position: relative;
    left: 2px;
    margin: 0;
    margin-bottom: 29px;
}

.slider-description {
    position: relative;
    left: 2px;
    margin-top: 29px;
    margin-bottom: 51px;
}

.more {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
}

.table-products-slider {
    position: relative;
    left: -20px;
    border-spacing: 20px 0;
}

.slider-button {
    position: absolute;
    width: 40px;
    height: 80px;
     border: 2px solid transparent;
outline: none;
border-radius: 6px;
padding: 10px;
cursor: pointer;
box-sizing: border-box;
}

.slider-prev {
    top: 212px;
left: 7px;
}

.slider-next {
    top: 212px;
  right: 7px;
}

.slider-button:hover {
    opacity: 0.6;
}

.slider-button:active {
    opacity: 0.3;
}

.slider-button:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.slider-description-pagination-list {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 173px;
    right: 0;
    margin-right: 60px;
    list-style-type: none;
    padding: 0;
}

.slider-description-pagination-item {
    margin-right: 21px;
}

.slider-description-pagination-button{
    width: 12px;
height: 12px;
border-radius: 50%;
padding: 0;
margin: 0;
background: #ffffff;
border: 2px solid #000000;
outline: none;
cursor: pointer;
box-sizing: border-box;
}

.slider-description-pagination-button-current {
    background: #000000;
}

.background-slider {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
    height: 80%;
    background-color: #ffe17f;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.9);
}

.modal {
    position: relative;
    margin: auto;
    padding: 72px 80px;
    background-color: #ffffff;
    border: 10px solid #000000;
}

.modal-delivery-auth {
    width: 740px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 84px;
    right: 80px;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border: none;
    background-image: url("../images/icons/modal-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
} 

.modal-close-button:hover {
    opacity: 0.6;
}

.modal-close-button:active {
    opacity: 0.3;
}

.modal-close-button:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px; 

}

.modal-title {
    margin: 0;
    margin-bottom: 42px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    color: #000000; 
}

.modal-name-email {
    display: flex;
    margin-bottom: 42px;
    justify-content: space-between;
}

.field-group {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.field-name,
.field-email {
    width: 316px;
    padding: 20px;
}

.field-name {
    background-image: url(../images/icons/login-modal.svg);
    background-repeat: no-repeat;
    background-position: 325px 24px;
}

.field-email {
    background-image: url(../images/icons/mail.svg);
    background-repeat: no-repeat;
    background-position: 325px 24px;
    border: 2px solid #ff3d3d;
}

.field-product {
    width: 496px ;
    padding: 20px;
}

.field-number {
    width: 136px;
    padding: 20px;
}

.delivery-form-field {
    background-color: #F0F0F0;
}

.modal-product-number {
    display: flex;
    margin-bottom: 42px;
    justify-content: space-between;
}

.label-user-name,
.label-user-email,
.label-selected-product,
.label-products-number {
    margin-bottom: 14px;
}

.label-products-number {
    position: relative;
}

.delivery-form-button {
   width: 200px; 
   text-align: center;
   text-transform: uppercase;
   position: relative;
   z-index: 1;
}

.delivery-form-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 8px;
    background-color: #ffe17f;
}

.label-modal {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.modal-container-close {
    display:none;
}

.label-products-number::before {
    content: '';
    position: absolute;
    left: 120px;
    width: 26px;
    height: 26px;
    background-image: url(../images/icons/faq-modal.svg);

}

.catalog-filter-group {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    border: none;
}
.range-scale {
    position: relative;
    height: 2px;
    margin-bottom: 11px;
    background-color: #dcdcdc;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #000000;
}

.range-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #EBEBEB;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-min {
    top: -8px;
    left: -16px;
}

.toggle-max {
    top: -8px;
    right: -16px;
}

.range-wrapper-inputs {
    display: flex;
}
  
.catalog-filter-label {
    display: flex;
    margin-right: 40px;
}

.catalog-filter-title {
    width: 200px;
    border-top: 2px solid #000000;
    padding-top: 12px;
    padding-bottom: 30px;
    font-family: 'Rubik' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}
  
.range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
}
  
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}


.subcatalog-list {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: -60px;
    z-index: 1;
    width: 1160px; 
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 5px 32px;
    grid-template-areas: "virt-real fitness copters"
    "monopods watches ."
    "cameras . .";
    padding-top: 26px;
    padding-left: 53px;
    padding-bottom: 49px;
    background-color: #ffe17f;
    box-sizing: border-box;
    list-style-type: none;
}


.virt-real-item {
    grid-area: virt-real;
}

.monopods-item {
    grid-area: monopods;
}

.cameras-item {
    grid-area: cameras;
}

.fitness-item {
    grid-area: fitness;
}

.watches-item {
    grid-area: watches;
}

.copters-item {
    grid-area: copters;
}

.subcatalog-link {
    display: block;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;    
}


.popover{
    position: absolute;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 320px;
    padding: 20px;
    color: #ffffff;
    background-color: #000000;
    min-height: 307px;
    font-family: 'Rubik', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    display: none;
}

.popover-content {
    height: 100%;
}

.cart-items-list {
    list-style-type: none;
    padding: 0;
}

.cart-item-button-close {
    width: 10px;
    height: 10px;
    background-image:url(../images/popover/close-popover.svg);
    background-color: #000000;
    color: #ffffff;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.popover-content {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
}

.total-popover {
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.product-popover {
    margin-right: 23px;
}

.cart-item-name {
    margin: 0 0 23px 0;
}

.button-open-popover {
    font-family: 'Raleway', "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    padding: 14.5px 25px;
    margin-top: 20px;
}

.total-products,
.total-price {
    margin: 0;
}

.popover-cart::before{
    content:'';
    background-image: url("../images/popover/popover-corner.svg");
    width: 14px;
    height: 6px;
    position:absolute;
    bottom: 100%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

.about-us::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 545px;
    top: 0;
    width: 84px;
    border-top: 7px solid #000000;
}

.contacts::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 545px;
    top: 0;
    width: 84px;
    border-top: 7px solid #000000;
}

.footer-text-address::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 111px;
    width: 80px;
    border-top: 7px solid #FFC700;

}

